.clip_path {
    clip-path: circle(50% at 50% 50%);
}

.custom-img {
    background-image: url("https://images.unsplash.com/photo-1628394029761-acc83a2a08a6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1471&q=80");
}

.bg_image {
    /* background-image: url("/src/assets/bgp.jpg"); */
    background-image: url("https://images.unsplash.com/photo-1531591022136-eb8b0da1e6d0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=812&q=80");
    background-size: cover;
    background-position: end;
}