.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  background: #fff;
  border-radius: 2rem;
  margin: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background:url("https://images.unsplash.com/photo-1493397212122-2b85dda8106b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=871&q=80");
  background-position: center;
  background-size:cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 2rem;
  font-weight: 800;
  background: #fff;
  border-radius: 1rem;
  padding: .5rem 1rem;
  cursor: pointer;
  transition: all 0.5s;
}
p:hover {
  color: #fff;
  background: #333;

}
.social_media {
  display: flex;
}
.social_media a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;height: 4rem;
  margin: 1rem;
  font-size: 2rem;
  color: #333;
  background: #fff;
  border-radius: 50%;
  transition: all 0.3s;
}

.social_media .facebook:hover {
  font-size: 2.6rem;
  color: #1877f2;
}       
.social_media .twitter:hover{
  font-size: 2.6rem;
  color: #55acee;
}
.social_media .instagram:hover{
  font-size: 2.6rem;
  color: #ff3040;
}
.social_media .linkedin:hover{
  font-size: 2.6rem;
  color: #0a66c2;
}


/* Loader */
.loader-pulse {
  width: 10rem;
  height: 10rem;
  padding: 1rem;
  border-radius: 50%;
  background:#fff;
  animation: load-pulse 2s infinite linear;
}

@keyframes load-pulse {
  0% {
    opacity: 0.15;
  }
  15% {
    opacity: 0.3;
  }
  30% {
    opacity: 0.45;
  }
  45% {
    opacity: 0.6;
  }
  60% {
    opacity: 0.75;
  }
  75% {
    opacity: 0.9;
  }
  90% {
    opacity: 0.95;
  }

  100% {
    transform: scale(0.9);
    opacity: 1;
  }
}
/* Loader */